acl-fault-generator==0.0.4
actionlib==1.13.2
angles==1.9.13
anyio==3.7.1
anymal-actions-common==0.1.12
anymal-c==1.1.8
anymal-calibration-actions==0.6.12
anymal-cgroups==0.0.9
anymal-d==1.1.7
anymal-launch==1.0.12
anymal-mission-scheduler==0.4.2
anymal-prometheus-exporter==0.1.6
anymal-record==1.0.12
anymal-sdk-python==0.5.0
anymal-startup-gui==0.0.14
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-lru==2.0.4
attrs==23.1.0
Babel==2.12.1
backcall==0.2.0
base_local_planner==1.17.2
beautifulsoup4==4.12.2
-e git+ssh://git@github.com/leggedrobotics/bevnet.git@1872106932a16e21c4f7986a8ef626eff49f59d8#egg=bevnet
bleach==6.0.0
bondpy==1.8.6
brotlipy==0.7.0
cachetools==5.3.1
camera-calibration==1.17.0
camera-calibration-parsers==1.12.0
catkin==0.8.10
certifi @ file:///croot/certifi_1690232220950/work/certifi
cffi @ file:///croot/cffi_1670423208954/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cmake==3.27.0
cmake_python_coverage==0.1.12
comm==0.1.4
config_logger==0.0.13
controller-manager==0.19.6
controller-manager-msgs==0.19.6
cryptography @ file:///croot/cryptography_1689373676338/work
cupy-cuda113==10.6.0
cv-bridge==1.16.2
cycler==0.11.0
dataclasses==0.6
debugpy==1.6.7.post1
decorator==5.1.1
defusedxml==0.7.1
descartes==1.1.0
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
docking_port_localization_tools==0.1.12
docstring-parser==0.15
dynamic-reconfigure==1.7.3
efficientnet-pytorch==0.7.0
environment-migrations==0.0.10
environment-utils-py==0.2.5
environment_loader==0.2.5
exceptiongroup==1.1.2
executing==1.2.0
fastjsonschema==2.18.0
fastrlock==0.8.1
fire==0.5.0
fonttools==4.42.0
fqdn==1.5.1
free-gait-action-loader==0.6.9
free-gait-python==0.5.13
gazebo_plugins==2.9.2
gazebo_ros==2.9.2
gazebo_wrapper==0.2.9
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
grid-map-py==0.1.8
hbc-navigation-ros==0.1.11
hdt-rosserial-python==0.8.8
hdt_adroit_debug==0.0.11
idna @ file:///croot/idna_1666125576474/work
image-geometry==1.16.2
importlib-metadata==6.8.0
importlib-resources==6.0.1
interactive-markers==1.12.0
ipykernel==6.25.1
ipython==8.12.2
ipython-genutils==0.2.0
ipywidgets==8.1.0
isoduration==20.11.0
issue-reporting-utils==0.1.7
jedi==0.19.0
Jinja2==3.1.2
joblib==1.3.2
joint-state-publisher==1.15.1
joint-state-publisher-gui==1.15.1
jsk-recognition-utils==1.2.15
jsk_rviz_plugins==2.1.8
jsk_topic_tools==2.2.12
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
jupyterlab_server==2.24.0
kiwisolver==1.4.4
laser_geometry==1.6.7
line-profiler-py==0.1.8
lit==16.0.6
manipulation-actions==0.1.6
manipulation-tools==0.1.6
MarkupSafe==2.1.3
matplotlib==3.5.2
matplotlib-inline==0.1.6
message-filters==1.15.15
mistune==3.0.1
mkl-fft==1.3.6
mkl-random @ file:///work/mkl/mkl_random_1682950433854/work
mkl-service==2.4.0
moveit-commander==1.1.10
moveit-core==1.1.10
moveit-ros-planning-interface==1.1.10
moveit-ros-visualization==1.1.10
mpmath==1.3.0
mtp_driver==1.0.12
navigation-pose-graph-tool==0.2.12
nbclient==0.8.0
nbconvert==7.7.3
nbformat==5.9.2
near-field-mapping-preset-selector==0.1.7
nest-asyncio==1.5.7
notebook==7.0.2
notebook_shim==0.2.3
numpy @ file:///work/mkl/numpy_and_numpy_base_1682953417311/work
nuscenes-devkit==1.1.10
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
opencv-python==4.8.0.76
overrides==7.4.0
packaging==23.1
pandocfilters==1.5.0
parameterized-spawn-model==0.0.13
parameterized_xacro==0.0.13
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pkgutil_resolve_name==1.3.10
platformdirs==3.10.0
-e git+ssh://git@github.com/leggedrobotics/bevnet.git@1872106932a16e21c4f7986a8ef626eff49f59d8#egg=pointpillars&subdirectory=bevnet/network/ops
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==4.24.0
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pycocotools==2.0.6
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments==2.16.1
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
pyparsing==3.1.1
pyquaternion==0.9.9
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil==2.8.2
python-json-logger==2.0.7
python-qt-binding==0.4.4
pytictac==1.0.8
pytz==2023.3
PyYAML==6.0.1
pyzmq==25.1.1
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
qtconsole==5.4.3
QtPy==2.3.1
referencing==0.30.2
requests @ file:///croot/requests_1690400202158/work
resource-monitor==0.1.12
resource_retriever==1.12.7
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
ros_numpy==0.0.5
rosapi==0.11.16
rosbag==1.15.15
rosbag-snapshot-trigger-manager==0.1.11
rosboost-cfg==1.15.8
rosbridge-library==0.11.16
rosbridge-server==0.11.16
rosclean==1.15.8
roscpp-helpers-py==0.1.5
roscreate==1.15.8
rosgraph==1.15.15
roslaunch==1.15.15
roslib==1.15.8
roslint==0.12.0
roslz4==1.15.15
rosmake==1.15.8
rosmaster==1.15.15
rosmsg==1.15.15
rosnode==1.15.15
rosparam==1.15.15
rospy==1.15.15
rosserial_python==0.9.2
rosservice==1.15.15
rostest==1.15.15
rostopic==1.15.15
rosunit==1.15.8
roswtf==1.15.15
rpds-py==0.9.2
rqt-anymal-lowlevel-controller==0.6.12
rqt-anymal-state-visualizer==0.6.12
rqt-gazebo-interface==0.6.12
rqt-moveit==0.5.10
rqt-multiplot==0.0.24
rqt-point-cloud-transformer==0.0.13
rqt-reconfigure==0.5.5
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.14
rqt-rviz==0.7.0
rqt_action==0.4.9
rqt_bag==0.5.1
rqt_bag_plugins==0.5.1
rqt_console==0.4.11
rqt_dep==0.4.12
rqt_graph==0.4.14
rqt_gui==0.5.3
rqt_gui_py==0.5.3
rqt_image_view==0.4.16
rqt_launch==0.4.9
rqt_logger_level==0.4.11
rqt_msg==0.4.10
rqt_nav_view==0.5.7
rqt_pharos==0.1.12
rqt_pharos_map_editor==0.1.12
rqt_plot==0.4.13
rqt_pose_view==0.5.11
rqt_publisher==0.4.10
rqt_py_common==0.5.3
rqt_py_console==0.4.10
rqt_robot_steering==0.5.12
rqt_runtime_monitor==0.5.9
rqt_service_caller==0.4.10
rqt_shell==0.4.11
rqt_srv==0.4.9
rqt_tf_tree==0.6.3
rqt_top==0.4.10
rqt_topic==0.4.13
rqt_web==0.4.10
rviz==1.14.19
rviz-world-loader==0.8.9
scikit-learn==1.3.0
scipy==1.10.1
Send2Trash==1.8.2
sensor-msgs==1.13.1
sensor-supervisor==0.1.11
Shapely==1.7.1
simple-parsing==0.1.3
six==1.16.0
smach==2.5.0
smach-ros==2.5.0
smclib==1.8.6
sniffio==1.3.0
sound-play==0.3.15
soupsieve==2.4.1
srdfdom==0.6.3
stack-data==0.6.2
stack-launcher==0.0.13
sympy==1.12
system-monitor==0.1.12
tensorboardX==2.6.2
termcolor==2.3.0
terminado==0.17.1
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.6
tf2-kdl==0.7.6
tf2-py==0.7.6
tf2-ros==0.7.6
tf_to_pose_converter==0.6.12
threadpoolctl==3.2.0
tinycss2==1.2.1
tomli==2.0.1
topic-tools==1.15.15
torch==1.13.0+cu117
torchaudio==0.13.0
torchvision==0.14.0+cu117
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
triton==2.0.0
typing_extensions==4.7.1
urdfdom-py==0.4.6
uri-template==1.3.0
urllib3 @ file:///croot/urllib3_1686163155763/work
voluptuous==0.13.1
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
widgetsnbextension==4.0.8
xacro==1.14.14
yaml-tools-ros-py==0.1.1
zipp==3.16.2
