absl-py==2.1.0
acl-fault-generator==0.0.4
actionlib==1.14.0
affine==2.4.0
aiofiles==23.2.1
alabaster==0.7.13
altair==5.3.0
angles==1.9.13
annotated-types==0.6.0
anthropic==0.25.7
antlr4-python3-runtime==4.9.3
anyio==4.3.0
anymal-actions-common==0.1.12
anymal-c==1.1.8
anymal-calibration-actions==0.6.12
anymal-cgroups==0.0.9
anymal-d==1.1.7
anymal-launch==1.0.12
anymal-mission-scheduler==0.4.2
anymal-prometheus-exporter==0.1.6
anymal-record==1.0.12
anymal-sdk-python==0.5.0
anymal-startup-gui==0.0.14
asttokens==2.4.1
Babel==2.12.1
base_local_planner==1.17.3
-e git+ssh://git@github.com/leggedrobotics/bev_semantic_map.git@1a241969900b1794830ff66d40210faf31d567b8#egg=bevnet
blinker==1.8.2
bondpy==1.8.6
Brotli @ file:///croot/brotli-split_1714483155106/work
cached-property==1.5.2
cachetools==5.3.3
camera-calibration==1.17.0
camera-calibration-parsers==1.12.0
catkin==0.8.10
certifi @ file:///croot/certifi_1720453481653/work/certifi
charset-normalizer==3.2.0
classproperties==0.2.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cmake==3.27.0
cmake_python_coverage==0.1.12
config_logger==0.0.13
contourpy==1.1.1
controller-manager==0.20.0
controller-manager-msgs==0.20.0
cupy-cuda12x==12.3.0
cv-bridge==1.16.2
cycler==0.12.1
Cython==3.0.9
data-generator==0.0.1
dataclasses==0.6
datafiles==2.2.2
detectron2==0.6
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
distro==1.9.0
dnspython==2.6.1
docker-pycreds==0.4.0
docking_port_localization_tools==0.1.12
docstring-parser==0.15
docutils==0.20.1
dynamic-reconfigure==1.7.3
efficientnet_pytorch==0.7.1
email_validator==2.1.1
environment-migrations==0.0.10
environment-utils-py==0.2.5
environment_loader==0.2.5
exceptiongroup==1.2.1
executing==2.0.1
fastapi==0.111.0
fastapi-cli==0.0.3
fastrlock==0.8.1
ffmpeg-python==0.2.0
ffmpy==0.3.2
filelock @ file:///croot/filelock_1700591183607/work
flake8==6.1.0
Flask==3.0.3
fonttools==4.51.0
free-gait-action-loader==0.6.9
free-gait-python==0.5.13
fsspec==2024.3.1
ftfy==6.2.0
fvcore==0.1.5.post20221221
gazebo_plugins==2.9.2
gazebo_ros==2.9.2
gazebo_wrapper==0.2.9
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
gifmaker==1.5
gitdb==4.0.11
gitman==3.5
GitPython==3.1.43
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455532332/work
google-auth==2.29.0
google-auth-oauthlib==1.0.0
grid-map-py==0.1.8
grpcio==1.63.0
h11==0.14.0
h5py==3.11.0
hbc-navigation-ros==0.1.11
hdt-rosserial-python==0.8.8
hdt_adroit_debug==0.0.11
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.0
hydra-core==1.3.2
idna @ file:///croot/idna_1714398848350/work
image-geometry==1.16.2
imagesize==1.4.1
importlib-metadata==6.8.0
importlib_resources==6.4.0
interactive-markers==1.12.0
iopath==0.1.9
issue-reporting-utils==0.1.7
itsdangerous==2.2.0
Jinja2==3.1.2
joblib==1.4.2
joint-state-publisher==1.15.1
joint-state-publisher-gui==1.15.1
jplephem==2.20
jsk-recognition-msgs==1.2.17
jsk-recognition-utils==1.2.17
jsk_rviz_plugins==2.1.8
jsk_topic_tools==2.2.12
kiwisolver==1.4.5
kornia==0.7.0
laser_geometry==1.6.7
liegroups==1.1.0
lightning-utilities==0.11.3.post0
line-profiler-py==0.1.8
lit==16.0.6
-e git+ssh://git@github.com/leggedrobotics/lmm_nav.git@a5fc3ce08bc10978a7fe8fe8721b040c3ddf74dd#egg=lmm_nav
manipulation-actions==0.1.6
manipulation-tools==0.1.6
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.5
mccabe==0.7.0
mdurl==0.1.2
message-filters==1.16.0
minilog==2.3
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
moveit-commander==1.1.13
moveit-core==1.1.13
moveit-ros-planning-interface==1.1.13
moveit-ros-visualization==1.1.13
mpmath==1.3.0
mtp_driver==1.0.12
mypy-extensions==1.0.0
navigation-pose-graph-tool==0.2.12
near-field-mapping-preset-selector==0.1.7
networkx==3.0
numpy==1.22.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
open-clip-torch==2.16.0
opencv-python==4.10.0.84
orjson==3.10.3
packaging==24.1
pandas==2.0.3
parameterized-spawn-model==0.0.13
parameterized_xacro==0.0.13
parse==1.20.1
pathspec==0.12.1
perception-tools-scripts==0.0.1
Pillow==9.3.0
platformdirs==4.2.2
plotly==5.22.0
-e git+ssh://git@github.com/leggedrobotics/bev_semantic_map.git@1a241969900b1794830ff66d40210faf31d567b8#egg=pointpillars&subdirectory=bevnet/network/ops
polyline==2.0.2
portalocker==2.8.2
powerline-status==2.7
protobuf==5.27.2
psutil==6.0.0
pyarrow==16.0.0
pybind11==2.11.1
pycocotools==2.0.7
pycodestyle==2.11.0
pydantic==2.7.1
pydantic_core==2.18.2
pydeck==0.9.1
pydub==0.25.1
pyee==11.1.0
pyflakes==3.1.0
pymap3d==3.1.0
pyparsing==3.1.2
pyproj==3.5.0
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil==2.9.0.post0
python-ffmpeg==2.0.7
python-multipart==0.0.9
python-qt-binding==0.4.4
pytictac==1.0.9
pytz==2024.1
PyWavelets==1.4.1
PyYAML @ file:///croot/pyyaml_1698096049011/work
pyzed==4.0
pyzedhub==0.73
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
rasterio==1.3.10
regex==2024.4.28
replicate==0.25.2
requests==2.31.0
requests-oauthlib==2.0.0
resource-monitor==0.1.12
resource_retriever==1.12.7
rich==13.7.1
ros_numpy==0.0.5
rosapi==0.11.17
rosbag==1.16.0
rosbag-snapshot-trigger-manager==0.1.11
rosboost-cfg==1.15.8
rosbridge-library==0.11.17
rosbridge-server==0.11.17
rosclean==1.15.8
roscpp-helpers-py==0.1.5
roscreate==1.15.8
rosgraph==1.16.0
roslaunch==1.16.0
roslib==1.15.8
roslint==0.12.0
roslz4==1.16.0
rosmake==1.15.8
rosmaster==1.16.0
rosmsg==1.16.0
rosnode==1.16.0
rosparam==1.16.0
rospy==1.16.0
rosserial_arduino==0.9.2
rosserial_client==0.9.2
rosserial_python==0.9.2
rosservice==1.16.0
rostest==1.16.0
rostopic==1.16.0
rosunit==1.15.8
roswtf==1.16.0
rqt-anymal-lowlevel-controller==0.6.12
rqt-anymal-state-visualizer==0.6.12
rqt-console==0.4.12
rqt-gazebo-interface==0.6.12
rqt-image-view==0.4.17
rqt-logger-level==0.4.12
rqt-moveit==0.5.11
rqt-multiplot==0.0.24
rqt-point-cloud-transformer==0.0.13
rqt-reconfigure==0.5.5
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.15
rqt-runtime-monitor==0.5.10
rqt-rviz==0.7.0
rqt-tf-tree==0.6.4
rqt_action==0.4.9
rqt_bag==0.5.1
rqt_bag_plugins==0.5.1
rqt_dep==0.4.12
rqt_graph==0.4.14
rqt_gui==0.5.3
rqt_gui_py==0.5.3
rqt_launch==0.4.9
rqt_msg==0.4.10
rqt_nav_view==0.5.7
rqt_pharos==0.1.12
rqt_pharos_map_editor==0.1.12
rqt_plot==0.4.13
rqt_pose_view==0.5.11
rqt_publisher==0.4.10
rqt_py_common==0.5.3
rqt_py_console==0.4.10
rqt_robot_steering==0.5.12
rqt_service_caller==0.4.10
rqt_shell==0.4.11
rqt_srv==0.4.9
rqt_top==0.4.10
rqt_topic==0.4.13
rqt_web==0.4.10
rsa==4.9
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.8
ruff==0.4.3
rviz==1.14.19
rviz-world-loader==0.8.9
safetensors==0.4.3
-e git+ssh://git@github.com/leggedrobotics/SAN.git@577023bc47b61fa8c6292a60d33af534295853c8#egg=san
scikit-image==0.19.0
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
semantic-version==2.10.0
sensor-msgs==1.13.1
sensor-supervisor==0.1.11
sentencepiece==0.2.0
sentry-sdk==2.8.0
setproctitle==1.3.3
sgp4==2.23
Shapely==1.7.1
shellingham==1.5.4
simple-parsing==0.1.3
six==1.16.0
skyfield==1.46
smach==2.5.2
smach-ros==2.5.2
smclib==1.8.6
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
snuggs==1.4.7
sound-play==0.3.17
Sphinx==7.1.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
srdfdom==0.6.4
stack-launcher==0.0.13
starlette==0.37.2
streamlit==1.34.0
submitit==1.5.1
sympy==1.12
system-monitor==0.1.12
tenacity==8.3.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.7
tf2-kdl==0.7.7
tf2-py==0.7.7
tf2-ros==0.7.7
tf2-sensor-msgs==0.7.7
tf_to_pose_converter==0.6.12
threadpoolctl==3.5.0
tifffile==2023.7.10
timm==0.9.10
tokenizers==0.19.1
toml==0.10.2
tomlkit==0.12.0
topic-tools==1.16.0
torch==2.3.0
torchaudio==2.3.0
torchmetrics==1.4.0.post0
torchshow==0.5.1
torchvision==0.18.0
tornado==6.4
tqdm==4.66.4
triton==2.3.0
typer==0.12.3
typing_extensions==4.10.0
tzdata==2024.1
ujson==5.9.0
universal-startfile==0.2
urdfdom-py==0.4.6
urllib3==2.2.1
uvicorn==0.29.0
voluptuous==0.13.1
wandb==0.17.4
watchdog==4.0.0
wcwidth==0.2.13
websockets==11.0.3
Werkzeug==3.0.3
xacro==1.14.17
yacs==0.1.8
yaml-tools-ros-py==0.1.1
zipp==3.18.1
