<launch>
  <!-- Launch rqt_reconfigure using rosrun -->
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen"/>

  <!-- Launch server.py using rosrun -->
  <node name="dynamic_params" pkg="dynamic_params" type="server.py" output="screen"/>

  <!-- Launch client.py using rosrun -->
  <node name="dynamic_client" pkg="dynamic_params" type="client.py" output="screen"/>
</launch>
